<section class="songs">
  <div class="container" >
    <div class="songs-bg">
      <h1>List of all the songs</h1>



      <div class="cards">
        <% @songs.each do |song| %>
          <div class="card-song">
            <iframe width="350" height="200" src="<%= song.link %>" frameborder="0" allowfullscreen></iframe>
            <%= link_to song_path(song), class: "card-link" do %>
              <div class="card-song-infos">
                <h2><%= song.title %></h2>
                <p><%= song.artist_name %></p>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>







